button {
  background-color: palevioletred;
  color: white;
  padding: 7px;
  font-size: 15px;
  border: black;
}
#resultBtn {
  margin-top: 10px;
}

#reload {
  margin-top: 10px;
}

h1 {
  border-bottom: black solid;
  text-align: center;
}
